// Кнопка бургера
.burger-menu-wrap {
    width: 50px;
    height: 50px;
    background: transparent;
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 20px;
    z-index: 60;
    &:hover {
        transform: scale(90%);
    }
    @media (max-width: 800px) {
        display: flex;
    }
}
// Контент бургера
.burger-menu {
    display: flex;
    width: 40px;
    height: 3px;
    background-color: var(--primary-white);
    position: relative;
    z-index: 60;
    &::before {
        content: "";
        display: flex;
        width: 40px;
        height: 3px;
        background-color: var(--primary-white);
        position: absolute;
        top: 12px;
        transition: 0.5s;
    }
    &::after {
        content: "";
        display: flex;
        width: 40px;
        height: 3px;
        background-color: var(--primary-white);
        position: absolute;
        top: -12px;
        transition: 0.5s;
    }
    &.active {
        display: flex;
        width: 40px;
        height: 0;
        background-color: var(--primary-white);
        position: relative;
        &::before {
            content: "";
            display: flex;
            width: 40px;
            height: 3px;
            background-color: var(--primary-white);
            position: absolute;
            top: 0;
            transform: rotate(45deg);
            transition: 0.5s;
        }
        &::after {
            content: "";
            display: flex;
            width: 40px;
            height: 3px;
            background-color: var(--primary-white);
            position: absolute;
            top: 0;
            transform: rotate(-45deg);
            transition: 0.5s;
        }
    }
}
// Мобильное меню
.nav_box-mob {
    padding: 120px 25px 25px 25px;
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    left: 0;
    top: 0;
    // opacity: 0;
    transition: 0.5s;
    transform: translateY(-100%);
    background-color: #020202;
    z-index: 45;
    &.active {
        transition: 0.5s;
        // opacity: 1;
        transform: translateY(0%);
        z-index: 45;
        height: 100dvh;
    }
}
.nav_box-mob-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
