<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <h2>UI - Kit</h2>
    <section>
        <div class="container">
            <h2>Кнопки</h2>
            <span>основная кнопка</span>
            <button class="btn">Заказать анализ рынка</button>
            <br>
            <br>
            <!-- ============================== -->
            <span>кнопка наверх</span>
            <button class="icon-btn-up"></button>
            <br>
            <br>
            <!-- ============================== -->
            <span>кнопка выход</span>
            <button class="icon-btn-exit"></button>
            <br>
            <br>
            <!-- ============================== -->
            <span>кнопка слайдера</span>
            <button class="icon-btn-down"></button>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Карточки</h2>
            <span>Карточка задач</span>
            <div class="tasks-card__box">
                <div class="tasks-card">
                    <div class="tasks-card-logo-box">
                        <img src="/img/task-card-1.png" alt="" class="tasks-card-logo">
                    </div>
                    <div class="tasks-card__text-box">
                        <p class="tasks-card__text">
                            Отследить упоминания
                            о продукте/компании
                            в интернете
                        </p>
                    </div>
                </div>
                <div class="tasks-card">
                    <div class="tasks-card-logo-box">
                        <img src="/img/task-card-1.png" alt="" class="tasks-card-logo">
                    </div>
                    <div class="tasks-card__text-box">
                        <p class="tasks-card__text">
                            Отследить упоминания
                            о продукте/компании
                            в интернете
                        </p>
                    </div>
                </div>
                <div class="tasks-card">
                    <div class="tasks-card-logo-box">
                        <img src="/img/task-card-1.png" alt="" class="tasks-card-logo">
                    </div>
                    <div class="tasks-card__text-box">
                        <p class="tasks-card__text">
                            Отследить упоминания
                            о продукте/компании
                            в интернете
                        </p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <span>Карточка тарифов</span>
            <div class="tariff-card__box">
                <div class="tariff-card">
                    <div class="tariff-card__row">
                        <h3 class="tariff-card__title">
                            минимум
                        </h3>
                        <p class="tariff-card__text">
                            Получите надежный контроль
                            за своей онлайн репутацией
                            с минимальными затратами!
                        </p>
                        <span class="tariff-card__prise">
                            30 000
                            <span class="tariff-card__prise-month">
                                &#8381/мес
                            </span>
                        </span>
                    </div>
                    <div class="tariff-card__row">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                Настройка темы: подбор семантики, релевантных источников
                            </li>
                            <li class="tariff-card__list-item">
                                Автоматизированный сбор упоминаний бренда в сети
                                с помощью системы мониторингаlo
                            </li>
                            <li class="tariff-card__list-item">
                                Вычитка упоминаний бренда, удаление нерелеванта
                            </li>
                            <li class="tariff-card__list-item">
                                Ручная модерация, присвоение тегов
                            </li>
                            <li class="tariff-card__list-item">
                                Количественный и качественный анализ упоминаний
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__row">
                        <button class="btn tariff-card__btn">Заказать</button>
                    </div>
                </div>
                <div class="tariff-card tariff-card_o">
                    <div class="tariff-card__row">
                        <p class="tariff-card__attention">
                            ваш выбор
                        </p>
                        <h3 class="tariff-card__title">
                            оптимум
                        </h3>
                        <p class="tariff-card__text">
                            Более эффективное управление онлайн-репутацией и повышение видимости вашего бренда.
                        </p>
                        <span class="tariff-card__prise tariff-card__prise_o">
                            55 000
                            <span class="tariff-card__prise-month tariff-card__prise-month_o">
                                &#8381/мес
                            </span>
                        </span>
                    </div>
                    <div class="tariff-card__row">
                        <ul class="tariff-card__list">
                            <li class="tariff-card__list-item">
                                Ежемесячная выгрузка упоминаний
                                (до 2000)
                            </li>
                            <li class="tariff-card__list-item">
                                Автоматическая разметка тональности
                            </li>
                            <li class="tariff-card__list-item">
                                Оперативная нейтрализация негатива (до 80 коммуникаций)
                            </li>
                            <li class="tariff-card__list-item">
                                Анализ и разработка коммуникационной стратегии
                                и скриптов
                            </li>
                            <li class="tariff-card__list-item">
                                Сбор рекламаций
                            </li>
                            <li class="tariff-card__list-item">
                                Анализ эффективности PR-активности
                            </li>
                        </ul>
                    </div>
                    <div class="tariff-card__row">
                        <button class="btn tariff-card__btn">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>