* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
button {
  cursor: pointer;
  border: transparent;
  background-color: transparent;
}
ul,
summary {
  list-style: none;
}
body {
  height: 100%;
}
.img-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
// ===================================================Миксины=============================================

//адаптивное св-во
@mixin adaptiveValue($property, $startSize, $minSize) {
  $addSize: $startSize - $minSize;
  // Ширина полотна макета
  $maxWidth: 1920;
  #{$property}: calc(#{$minSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth - 320}));
}

// =========================================Функции=====================================================

//перевод в em
@function em($px, $size) {
  $result: $px / $size + em;
  @return $result;
}

//перевод в rem
@function rem($px) {
  $result: $px / 16 + rem;
  @return $result;
}

//пропорциональное изменение высоты изображения
@function prop($h, $w) {
  $result: $h / $w * 100%;
  @return $result;
}

//адаптивный отступ
@function in($w, $x) {
  $result: $x * 100% / $w;
  @return $result;
}

// =========================================Переменные=====================================================

// =========================================Типографика=====================================================
h1 {
  color: var(--primary-red);
  /*h1 */
  font-family: ReformaGrotesk;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px; /* 115.556% */
  letter-spacing: 2.25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
h2 {
  color: var(--primary-black);
  /* h2 */
  font-family: ReformaGrotes;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px; /* 115.556% */
  letter-spacing: 2.25px;
  text-transform: uppercase;
  margin-bottom: 64px;
}
h3 {
  color: var(--primary-black);
  /* h3 */
  font-family: ReformaGrotesk;
  font-size: 45px;
  font-weight: 700;
  line-height: 52px; /* 115.556% */
  letter-spacing: 2.25px;
  text-transform: uppercase;
  margin-bottom: 16px;
}
p {
  color: var(--primary-black);
  /* Текст */
  font-size: 16px;
  font-weight: 400;
  line-height: 19.2px; /* 120% */
  letter-spacing: 0.8px;
  margin-bottom: 20px;
}
p.card {
  color: var(--primary-black);
  /* текст карточек */
  font-size: 14px;
  font-weight: 300;
  line-height: 21px; /* 150% */
}
p.bold {
  color: var(--, #333);
  /* текст жирный */
  font-size: 15px;
  font-weight: 700;
  line-height: 22.5px; /* 150% */
}
li {
  color: var(--, #333);
  /* элемент списка */
  font-size: 14px;
  font-weight: 300;
  line-height: 21px; /* 150% */
  margin-bottom: 8px;
}
