:root {
    --primary-red: #ff3333;
    --primary-black: #333333;
    --primary-gray: #999999;
    --secondary-gray: #eaeaea;
    --primary-white: #fff;
    --secondary-black: #111;
    --secondary-background: #f8f8f8;
}
